.title-img {
    width: 175px;
}

.card-body {
    background: #aaa;
}

h4 {
    padding: 0;
}

.col-md-12.mx-auto {
    margin: 32px 0px 0px;
    padding: 0 50px;
}

@media only screen and (min-width:768px) {
    .col-md-12.content-padding {
        padding: 0 65px;
    }
}

.nav-tabs .nav-item {
    margin-bottom: 12px;
}
