<h3 class="col-md-12 col-xs-12 mx-auto mb-3">Cast Appearances</h3>
<div class="col-md-12 col-xs-12 mx-auto row">
    <div *ngFor="let person of castList" class="col-md-3 col-xs-12 mb-3">
        <div class="card">
            <img class="card-img-top" *ngIf="person?.person?.image"
                [src]="person?.person?.image?.medium" alt="Card
                image cap">
            <img class="card-img-top" *ngIf="!person?.person?.image"
                src="assets/images/img-not-found.jpg" alt="Card image
                cap">
            <div class="card-body">
                <p class="card-text text-truncate">{{person.person.name}} as
                    {{person.character.name}}
                </p>
            </div>
        </div>
    </div>
</div>
