<!-- <p>shows works!</p>
<div *ngFor="let show of popularShows$ | async as shows">
    {{show.name}}
</div> -->
<div *ngIf="popularShows$ | async">
    <div *ngFor="let genreShow of groupByGenreShows">
        <h4>{{genreShow.name}}</h4>
        <carousel>
            <div class="carousel-cell" *ngFor="let show of genreShow.list">
                <img *ngIf="show?.image" [routerLink]="['/show', show.id]"
                    [src]="show?.image?.original">
                <img *ngIf="!show?.image" [routerLink]="['/show', show.id]"
                    src="assets/images/img-not-found.jpg">
            </div>
        </carousel>
    </div>

</div>
