/* img {
    width: 100%;
    height: 325px;
    -webkit-filter: brightness(75%);
    margin-bottom: 15px;
}

.card-text a {
    margin-bottom: 25px;
    bottom: 0;
    position: absolute;
    color: #fff;
} */
.img-card {
    width: 100%;
    height: 325px;
    -webkit-filter: brightness(75%);
    cursor: pointer;
}

.form-control {
    width: 21% !important;
}
.ml-15 {
    margin-left: 1px;
}
@media only screen and (min-width:768px) {
    .nm-mx-5 {
        margin-left: 1rem!important;
        margin-right: 2rem!important;
    }
}

