<div class="nm-mx-5">
  <div *ngIf="searchShows$ | async as shows; else loadingOrError"
    class="col-lg-12
    col-md-12 col-sm-12 col-xs-12 row mx-0 my-4">
    <nav aria-label="breadcrumb" class="col-md-12 mx-auto">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']" href="#">Home</a></li>
      </ol>
    </nav>
    <div class="col-md-6 col-lg-3 col-sm-12 col-xs-12" *ngFor="let show of
      shows">
      <div class="card mb-4 shadow-sm">
        <img *ngIf="show?.image" class="img-card"
          [routerLink]="['/show', show.id]"
          [src]="show?.image?.original" alt="Image not available">
        <img class="img-card" *ngIf="!show?.image"
          [routerLink]="['/show', show.id]"
          src="assets/images/img-not-found.jpg" alt="Image not
          available">
        <p class="show-rating">{{(show?.rating?.average) ?
          show?.rating?.average :
          'NA'}}</p>
      </div>
    </div>

    <div class="text-center"
      *ngIf="!shows.length">
      <h2>No Shows Found</h2>
    </div>
  </div>
  <ng-template #loadingOrError>
    Loading users...
  </ng-template>
</div>
